name: Docker Image CI

on:
  push:
    branches: [ "main", "refactor/v2" ]
    tags:
      - 'v*'
  pull_request:
    branches: [ "main", "refactor/v2" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Log in to the Container registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v3
      env:
        REPO_LOWER: ${{ github.repository }}
      with:
        context: .
        push: true
        tags: |
          ghcr.io/$(echo ${{ env.REPO_LOWER }} | tr '[:upper:]' '[:lower:]'):latest
          ghcr.io/$(echo ${{ env.REPO_LOWER }} | tr '[:upper:]' '[:lower:]'):${{ github.sha }}
